/* CSS BY JIŘÍ BĚLSKÝ - FRAC PROJECT */ 


/*

	PAGE TITLES
	
*/
h1.ui_title {
	font-size: 42px;
	font-weight: 600;
	color: #46a3ea;
}

h2.ui_title {
	font-size: 34px;
	font-weight: 600;
	color: #46a3ea;
}

h3.ui_title {
	font-size: 26px;
	font-weight: 600;
	color: #46a3ea;
}

h4.ui_title {
	font-size: 20px;
	font-weight: 600;
	color: #46a3ea;
}

/*

	INFORMATIONAL TEXTS
	
*/
.ui_text {
	position: relative;
	padding: 20px 0 20px 100px;
}

.ui_text:before {
	position: absolute;
	top: 40px;
	left: 15px;
	font-family: FontAwesome;
	font-size: 50px;
	width: 50px;
	text-align: center;
}

.ui_text.info:before {
	content: "\f129";
	color: #5EBAFF;
}

.ui_text.info:after {
	background: #5EBAFF;
}

.ui_text.warning:before {
	content: "\f12a";
	color: #FFB148;
}

.ui_text.warning:after {
	background: #FFB148;
}

.ui_text.error:before {
	content: "\f00d";
	color: #FF4848;
}

.ui_text.error:after {
	background: #FF4848;
}

.ui_text.confirm:before {
	content: "\f00c";
	color: #75DF00;
}

.ui_text.confirm:after {
	background: #75DF00;
}

@media (max-width:900px){
	.ui_text {
		padding: 20px 0 20px 20px;
	}

	.ui_text:after {
		position: absolute;
		top: 20px;
		left: 0;
		bottom: 20px;
		width: 5px;
		content: "";
	}

	.ui_text:before {
		display: none;
	}
}

	.ui_text > .title {
		padding: 0 0 5px 0;
		font-size: 15px;
		font-weight: 600;
	}

	.ui_text.info > .title {
		color: #5EBAFF;
	}

	.ui_text.warning > .title {
		color: #FFB148;
	}

	.ui_text.error > .title {
		color: #FF4848;
	}

	.ui_text.confirm > .title {
		color: #75DF00;
	}

	.ui_text > p {
		font-size: 14px;
		color: #8c8c8c;
		line-height: 145%;
	}

/*

	UI BOX
	
*/
.ui_box {
	position: relative;
	background: #FBFBFB;
	border: 1px solid #F3F3F3;
	margin: 10px 0;
}

	.ui_box > .header {
		padding: 10px;
		background: #F3F3F3;
	}

	.ui_box > .header:after {
		display: block;
		width: 100%;
		content: "";
		clear: both;
	}

		.ui_box > .header .title {
			font-size: 13px;
			font-weight: bold;
			float: left;
		}

		.ui_box > .header .actions {
			float: right;
			margin: -3px;
		}

			.ui_box > .header .actions a {
				display: inline-block;
				width: 20px;
				height: 20px;
				text-align: center;
			}

			.ui_box > .header .actions a:before {
				font-family: FontAwesome;
				font-size: 16px;
			}

			.ui_box > .header .actions a.close {
				-webkit-transition: 500ms;
				-moz-transition: 500ms;
				-ms-transition: 500ms;
				transition: 500ms;
				cursor: pointer;
			}

			.ui_box > .header .actions a.close:before {
				content: "\f0d8";
			}

			.ui_box > .header .actions a.close.active {
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}

	.ui_box > .content {
		padding: 10px;
	}

	.ui_box.closed > .content {
		display: none;
	}


/*

	UI MESSAGE
	
*/
.ui_message {
	position: relative;
	margin: 10px 0;
	padding: 15px 15px 15px 20px;
	color: white;
}

.ui_message.closed {
	display: none;
}

.ui_message:before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	content: "";
	background: rgba(0,0,0,0.2);
	width: 5px;
}

.ui_message.info {
	background: #5EBAFF;
}

.ui_message.warning {
	background: #FFB148;
}

.ui_message.error {
	background: #FF4848;
}

.ui_message.confirm {
	background: #75DF00;
}

	.ui_message > .title {
		font-size: 14px;
		font-weight: bold;
		padding: 0 0 5px 0;
	}

	.ui_message > a.close {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
	}

	.ui_message > a.close:hover {
		opacity: 0.8;
	}

	.ui_message > a.close:before {
		font-family: FontAwesome;
		font-size: 16px;
		line-height: 16px;
		content: "\f00d";
	}


/*

UI AREA

*/
.ui_area {
	margin: 10px 0;
	border: 1px solid #F3F3F3;
}

.ui_area:after {
	display: block;
	width: 100%;
	content: "";
	clear: both;
}

	.ui_area > .content {
		padding: 20px;
	}

/*

UI TABS - HORIZONTAL

*/
.ui_tabs_horizontal {
	border-bottom: 1px solid #F3F3F3;
	list-style: none;
	margin: 10px 0;
}

.ui_area > .ui_tabs_horizontal {
	position: relative;
	z-index: 1;
	margin: 0px;
	background: #FBFBFB;
}

.ui_tabs_horizontal:after {
	display: block;
	width: 100%;
	content: "";
	clear: both;
}

	.ui_tabs_horizontal > li {
		float: left;
	}

	.ui_area > .ui_tabs_horizontal > li {
		border-right: 1px solid #F3F3F3;
		margin-bottom: -1px;
	}

		.ui_tabs_horizontal > li a {
			position: relative;
			display: block;
			padding: 10px 20px;
			font-size: 13px;
			color: #8c8c8c;
			text-decoration: none;
		}

		.ui_tabs_horizontal > li a:hover {
			color: black;
		}

		.ui_tabs_horizontal > li.selected a,
		.ui_tabs_horizontal > li.ui-tabs-active a {
			font-weight: bold;
			color: black;
		}

		.ui_area > .ui_tabs_horizontal > li.selected,
		.ui_area > .ui_tabs_horizontal > li.ui-tabs-active {
			border-bottom: 1px solid white;
			background: white;
		}






